body, html {
 height: 100%;   
 margin: 0;
 font-family: 'Courier New', Courier, monospace;
 font-weight: 900;
 background-color: aliceblue;
}

.main-container {
    
    display: flex;
    height: 100vh;

    .main-flex-items {
        
        padding: 20px;
        margin: 20px;
        border-radius: 20px;
        flex: 1;
        background-color: white;

        // &.left {
        //     @media (max-width: "330px") {
        //         display: none;
        //     }        
        // }

        &.right {

            z-index: 5;

            .chat-container {

                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;    

                .messages {
                    flex: 1;
                    overflow-y: auto;
                    overflow-x: hidden;
                }

                .form {
                    flex: 0;
                    margin-top: 10px;
                    
                    form {
                        display: flex;
                        justify-content: space-between;  
                        height: 100px;
                        
                        input[type="text"] {
                            flex: 1;
                            padding: 10px;
                            font-size: 1.2rem;
                            margin-right: 10px;
                            border-radius: 10px;
                        }

                        input[type="submit"] {
                            border-radius: 10px;
                            width: 70px;
                        }
                    }
                }                
            }       
        }
    }
}

ul {
    flex-direction: column;
    margin: 0;
    padding: 0;
        
    li {
        list-style: none;
        padding: 10px;
        display: flex;
        flex-direction: column;
        
        .avatar {
            padding: 0 10px;
        }

        .outer {
            padding: 10px;
            background-color: #c5e4eb;
            border-radius: 10px;

            &.messss {
                background-color: #d0dbf7
            }
        }

        &.me {
            flex-direction: row-reverse;
            text-align: right;
            margin-left: auto;
        }

        &:not(.me) {
            margin-right: auto;
        }

        .date {
            padding: 0;
            font-size: 10px;
        }
        
        .text {
            padding: 0;
            font-size: 1.5rem;
            padding-bottom: 4px;
        }

        .username {
            padding-bottom: 5px;
            font-size: 0.8rem;
        }

        .message-content {
            display: flex;
            flex-direction: row;
        }

    }
}
